/* Fonts */
@font-face {
    font-family: Roboto;
    src: url("Roboto-Regular.ttf");
}
@font-face {
    font-family: Roboto-Bold;
    src: url("Roboto-Bold.ttf");
}
body {
    font-family: Roboto;
}

/* Grid */
.cont {
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 55px;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.col {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}
.col-l {
    padding-right: 10px;
}
.col-r {
    padding-left: 10px;
}

/* Images */
.img-resp {
    width: 100%;
}

/* Button */
btn {
    border-radius: 10px;
}

/*
Fonts to consider:

Hind Siliguri
Overpass
Asap
Russo One
Gothic A1
Varela
B612

*/