/* Styles Apply for index.html */

.main {
    padding-top: 40px;
}
.title {
    font-size: 50px;
    font-family: Roboto-Bold;
    letter-spacing: 3px;
}
.title-l {
    color: #214D78;
}
.title-r {
    color: #A8822A;
}

.logo {
    margin-top: -25px;
    height: 380px;
}

.content {
    margin: 0px 120px 0px 120px;
}
.btn-monitor {
    width: 400px;
    margin-top: -25px;
    margin-bottom: 15px;
    background-color: #55728E;
    text-transform: uppercase;

    -o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
}
.monitorOn {
    background-color: #0DBC00 !important;
}
.monitorOff {
    background-color: #CE0606 !important;
}
.softLine {
    margin-bottom: 20px;
}
.btn-sub {
    margin: 5px 40px;
    background-color: #55728E;
}

.credits {
    padding-top: 20px;
    color: #C0C0C0;
}