/* Styles Apply for setup.html */

.emph {
    font-size: 25px;
    font-family: Roboto-Bold;
    color:#747474;
}
.sub {
    font-size: 21px;
}
.title {
    font-size: 20px;
    padding-bottom: 50px;
    font-family: Roboto-Bold;
}
.camera {
    max-width: 100%;
    max-height: 270px;
}
.softLine {
    margin-bottom: 20px;
}

.splitter {
    width: 100%;
    display: flex;
    justify-content: space-between;
}